.hy{
    padding: 13px;
    margin: 31px;
}
.pad{
    margin-top: 10vh;
}
.cb{
    text-align: center;
    color: aqua;
}
.bc{
    text-align: center;
    color: aqua;
}
.bg{
    text-align: center;
    color: aqua;
}